<?xml version="1.0"?>

<launch>
  <arg name="start_x" default="0.0" />
  <arg name="start_y" default="0.0" />
  <arg name="start_z" default="0.0" />
  <arg name="start_yaw" default="0.0" />
  <arg name="pub_tf" default="false" />
  <arg name="blue" default="false" />
  <arg name="tf_freq" default="100.0" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find audibot_description)/urdf/audibot.urdf.xacro' pub_tf:=$(arg pub_tf) blue:=$(arg blue)" />
  <node pkg="gazebo_ros" type="spawn_model"  name="spawn_audibot" args="-urdf -param robot_description -model audibot -x $(arg start_x) -y $(arg start_y) -z $(arg start_z) -Y $(arg start_yaw)"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
    <param name="publish_frequency" type="double" value="$(arg tf_freq)" />
  </node>

</launch>
