<?xml version="1.0"?>
<model>
  <name>orange_audibot</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Micho Radovnikovich</name>
    <email>mradov@gmail.com</email>
  </author>

  <description>
    Audi R8 simulation model with orange exterior paint color
  </description>
</model>
